.slider-container {
    position: relative;
    width: 100%;
    height: 70vh; /* Makes the container fill the full height of the viewport */
    overflow: hidden;
    margin-top: 100px;
  }
  
  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .slider-image {
    width: 100%; /* Use full width */
    height: 100%; /* Use full height */
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
  }
  
  .left-arrow,
  .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    font-size: 24px; /* Adjust arrow size for better visibility */
  }
  
  .left-arrow {
    left: 10px; /* Smaller spacing for mobile compatibility */
  }
  
  .right-arrow {
    right: 10px;
  }
  
  .left-arrow:hover,
  .right-arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  /* Media Query for Mobile Screens */
  @media (max-width: 768px) {
    .slider-container {
      height: 30vh; /* Maintain full-screen height for mobile */
    }
  
    .left-arrow,
    .right-arrow {
      padding: 8px; /* Smaller padding for smaller screens */
      font-size: 20px; /* Adjust font size for smaller arrows */
    }
  }
  